*{
    max-width: 1600px;
    margin: auto;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

ul{
    list-style: none;
}

.card{
    background-color: #30B868;
    margin: 0;
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.card * {
    margin: 0;
    padding: 0;
}

.cardImage{
    background: rgba(249, 85, 85, 1);
    border-radius: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    width: 1600px;
    height: 92px;
    background-color: #FFFFFF;
}

nav img{
    width: 139px;
    height: 60px;
    margin-left: 20px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap:32px;   
}

nav ul li a{
    text-decoration-line: none;
    text-decoration-color: black;
    color: black;
}
.gbutton{
    padding:12px 16px;
    gap:10px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    align-items: center;
    display: flex;
    align-items: center;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    border: none;
}
.gbutton:hover{
    background-color: #24914F;
    cursor: pointer;
}

#eatext{
    position: relative;
    left: -8px;
}

#frontpageButtons{
    max-width: 500px;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}

.frontpage h1 {
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
}

#play{
    background:none;
    color:white;
    border: 1px solid white;
}

.frontpage{
    width: 1360px;
    height: 379px;
    align-items: center;
    text-align: center;
    padding: 70px 120px 134px 120px;
    background-image: url(./assets/hero-bg.png);
}

#PlayButton{
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
}

#problemHeader{
    width: 1360px;
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    position: relative;
    top: 50px;
}

#problemHeader h1{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
}

#problemHeader p{
    color: rgba(98, 115, 130, 1);
    position:relative;
    top: -30px;
}

#earlyAccess{
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    width: 229px;
    height: 35px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    margin-bottom: 24px;
}

#accessText button{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

#cards{
    display: flex;
    padding: 70px 120px 134px 120px;
    gap: 24px;
    text-align: center;
}

#solution{
    display: flex;
    padding: 70px 120px 134px 120px;
    gap: 40px;
}

#solutionText{
    width: 700px;
    height: 396px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 24px;
}

#solutionText h1{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    position: relative;
    left: -65px;
    top: -20px;
}

#solutionText p{
    position: relative;
    left: -65px;
    top: -20px;
    color: rgba(98, 115, 130, 1);

}

#solutionText ul{
    position: relative;
    left: -120px;
    top: -20px;
}

#sol {
    position: relative;
    left: -240px;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
}

#access{
    width: 1600px;
    height: 506px;
    overflow: hidden;
}

#accessText{
    width: 1360px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px 120px 120px 120px;
    background: rgba(247, 246, 242, 1);
}

#accessText p{
    color: rgba(98, 115, 130, 1);
}

#access h1{
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    top: 40px;
}

#invite{
    position: relative;
    top: -40px;
}

#access button{
    position: absolute;
    top:2375px;
}

#credit{
    position: relative;
    top: -40px;
}

footer{
    width: 100%;
    height: 348px;
    background-color: rgba(0, 25, 49, 1);
    display: flex;
    flex-direction: column;
    gap: 80px;
}

#footerLogo{
    width: 139px;
    height: 60px;
}

#footerText{
    width: 1360px;
    height: 64px;
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 40px;

}

#footerLogo{
    position: relative;
    left: -285px;
}

footer ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    left: -40px;
}

footer button{
    background: none;
    border: none;
    color: rgba(255, 255, 255, 1);
}

#footerLinks{
    position:relative;
    left: 300px;
}

footer button:hover{
    cursor: pointer;
    text-decoration: underline;
}


#footerCopyright{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 1360px;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgba(250, 250, 250, 1);
    padding-top: 50px;
}